@use "./base" as *;

.meter {
	$border-radius: 0.625rem;
	$padding: 0.1875rem;
	$height: 1.25rem;

	padding: $padding;
	height: $height;
	background: $clr-primary-800;
	border-radius: $border-radius;

	.progress-bar {
		display: block;
		height: 100%;
		border-radius: $border-radius;
		background-image: $gradient-primary;
		width: 75%;

		@include pseudo {
			$top: calc((($height - 2 * $padding) - ($height / 2)) / 2);

			width: calc($height / 2);
			height: calc($height / 2);

			border-radius: 50%;
			background-color: #fff;
			top: $top;
			left: calc(100% - calc($height / 2 + $top));
		}
	}
}

li {
	list-style: none;
}

.nav {
	padding: 2.5rem;
	border-radius: 10px 100px 10px 10px;
	gap: 2rem;

	&-items {
		gap: 1rem;

		& li {
			border-radius: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 48px;
			height: 48px;
		}
	}

	&-item {
		padding: 0.75rem;
	}

	@include media(medium) {
		width: 21.875rem;
	}
}

.usage {
	position: relative;
	padding: 2rem;
	padding-bottom: 3.25rem;
	border-radius: 10px;

	label {
		text-align: center;

		span:first-of-type {
			font-weight: $fw-bold;
		}

		@include media(medium) {
			text-align: left;
		}
	}

	@include media(medium) {
		width: 33.75rem;
		margin-top: 3rem;
		padding: 2.5rem;
	}
}

.axis {
	margin-top: 0.625rem;
	font-size: $fs-12;
	font-weight: $fw-bold;
	justify-content: space-between;
}

.counter {
	position: absolute;
	width: 10.75rem;
	bottom: -2.2rem;
	justify-self: center;
	border-radius: 10px;
	line-height: 2.5rem;
	padding: 1rem 1.5rem;
	background-color: $clr-neutral-100;
	color: $clr-primary-800;
	font-size: $fs-40;
	font-weight: $fw-bold;

	&:before {
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		border-left: 1.5rem solid transparent;
		border-bottom: 1.5rem solid transparent;
		border-right: 1.5rem solid $clr-neutral-100;
		bottom: -1.5rem;
		right: 0;
		opacity: 1;

		@include media-down(medium) {
			opacity: 0;
		}
	}

	span {
		opacity: 0.5;
		font-size: $fs-12;
		text-transform: uppercase;
		vertical-align: middle;
	}

	@include media(medium) {
		justify-self: end;
		bottom: 8.5rem;
		right: 2.2rem;
		border-bottom-right-radius: 0;
	}
}
