@use "./base" as *;

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: $fs-14;
	font-weight: $fw-regular;
	font-family: $ff-base;
	color: $clr-primary-200;
	background: url("/img/bg-mobile.png") no-repeat $clr-primary-800;
	background-size: cover;

	@include media(medium) {
		background: url("/img/bg-desktop.png") no-repeat $clr-primary-800;
		background-position: bottom;
		background-size: contain;
	}
}

.flex-flow {
	display: flex;
}

.grid-flow {
	display: grid;
	gap: 1rem;
}

.container {
	width: min(100% - 3rem, 69.375rem);
	margin-inline: auto;

	@include media(medium) {
		display: flex;
		justify-content: center;
		align-items: end;
		gap: 2rem;
	}
}
